<!DOCTYPE html>
<html>
<head>
  <title>Bienvenue sur notre plateforme</title>
</head>
<body>
<h1>Bienvenue sur notre plateforme</h1>
<p>Merci de vous être inscrit sur notre site. Nous sommes ravis de vous avoir parmi nous.</p>
<p>Afin de d'activer ton compte, clique sur le lien suivant : {{urlActive}}</p>

</body>
</html>
