<!DOCTYPE html>
<html>
<head>
  <title>Change ton mot de passe !</title>
</head>
<body>
<h1>Pour changer de mot de passe, veuillez suivre ces instructions : </h1>
<p>Etape 1 : </p>
<p>Clique sur ce lien : {{urlActive}}</p>
<p>Etape 2 : </p>
<p>Renseigne ton nouveau mot de passe</p>
<p>Etape 3 : </p>
<p>On s'occupe du reste</p>
</body>
</html>
