<!DOCTYPE html>
<html>
<head>
</head>
<body>
<h1>Bonjour {{lastName}} {{firstName}}</h1>
<p>Vous avez été invité à participer à la résolution d'un puzzle dans le cadre d'un recrutement.</p>
<p>Afin de pouvoir y participer, cliquez sur le lien suivant : {{urlActive}}</p>
</body>
</html>
